ul.list-inline{
  font-size:larger;
}

label.control-label{
  font-size:large;
}

#item-row{
  border-color: black;
  transition: all .3s;
}
.ng-enter, .ng-move{
  background: orange;
}

.ng-leave{
  background: red;
}

.glyphicon{
  cursor: pointer;
}
