ul.list-inline{
  font-size:larger;
}

label.control-label{
  font-size:large;
}

#item-row{
  border-color: black;
  transition: all .3s;
}

.alert {
  opacity: 0;
  transition: all .3s;
}


.flash{
  background: orange;
}

.warn{
  opacity: 1;
  background:red;
}

.glyphicon{
  cursor: pointer;
}
